/* Color ideas */


/* :root {
  --sand: #D3C6BF;
  --dark-blue: #557D8A;
  --dark: #32332F;
  --light-blue: #8BB7D1;

} */

@media screen and (min-width: 769px) {
    .level {
        display: block !important;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    color: black;
}

.page {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.05), 0 0px 0 1px rgba(10, 10, 10, 0);
    display: block;
    padding: 1.25rem;
    max-width: 1200px;
    margin: 0 auto;
}

.label {
    color: black;
    margin-top: 10px;
}

.button {
    margin: 0px 5px;
}

.title,
.notification .title,
.subtitle,
.notification .subtitle {
    color: black;
}

.media-content .title {
    color: #30bd5f;
}

.media-content .subtitle {
    color: black;
}


/* Navbar */

.navbar-menu.is-active {
    display: flex !important;
    justify-content: space-around;
}

.navbar-item {
    display: flex;
    align-self: center;
}


/* Home page */

.home-portal {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-portal-paragraph {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Sign up page */

.skill-project-select {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.skill-project-select-item {
    display: flex;
    flex-direction: column;
}


/* Login Page */

.button-padding {
    padding: 1em;
}


/* Details */

.detail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}


/* Applied participant card */

.apllied-participant-card {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.notification {
    background-color: #30bd5f82;
}

p {
    display: block;
}